@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
*{
    font-family: 'Arvo', serif;
}

$primary-text-color: #f0edcc;
$primary-background-color: #02343f;
$secondary-background-color: #f0edcc;
$secondary-text-color: #02343f;
$primary-call-to-action-color: #f0edcc;
$secondary-call-to-action-color: #02343f;
$border-radius: 0.325rem;

.dark-bg {
  background-color: $primary-background-color !important;
}

.dark-text {
    color: $primary-text-color !important;
}

.dark-border {
    border-color: $primary-text-color !important;
}

.dark-outline {
    outline: 0.15rem solid $primary-background-color !important;
}

.light-outline {
    outline: 1px solid $secondary-background-color !important;
}

.light-bg {
  background-color: $secondary-background-color !important;
  
}

.light-text {
    color: $secondary-text-color !important;
}

.light-border {
    border-color: $secondary-text-color !important;
}